.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color:  #4287f5;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12
    -fx-font-weight: 400;
    -fx-text-fill: #ededed;
}

.button:hover{
    -fx-background-color: #244e8f;
}

.button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 0;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.button:pressed {
    -fx-background-color:  #0d1c33;
    -fx-text-fill: white;
}